/* Chat Styles */

.chat-container-principal {
    display: flex;
    flex-direction: column;
    max-height: 350px; /* Altura máxima total */
    overflow: hidden;
    background-color: #ffffff;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-messages {
    flex-grow: 1; /* Ocupa el espacio disponible */
    padding: 15px;
    overflow-y: auto;
    border-bottom: 1px solid #E2E8F0;
}

.chat-messages p {
    margin: 10px 0;
    font-size: 16px;
    color: #4A5568;
}

.chat-messages strong {
    color: #2D3748;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f7f9fc;
    border-top: 1px solid #E2E8F0;
}

.chat-input .input-row {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.chat-input textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    box-sizing: border-box;
}

.chat-input button {
    background-color: #0879ef;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-input button:hover {
    background-color: #005bb5;
}

.chat-input label {
    cursor: pointer;
    background-color: #0879ef;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.chat-input label:hover {
    background-color: #005bb5;
}

.chat-input .file-info {
    font-size: 14px;
    color: #4A5568;
    background-color: #EDF2F7;
    padding: 5px 10px;
    border-radius: 5px;
    display: none; /* Visible solo cuando se adjunta un archivo */
}

.chat-input .file-info.active {
    display: inline-block;
}

.chat-input input[type="file"] {
    display: none; /* Ocultamos el input de archivos */
}

div.header .btn-add {
    display: inline-block;
    background-color: #0879ef;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

div.header .btn-add:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

div.header .btn-add:active {
    background-color: #003f8c;
    transform: scale(0.95);
}
